<h4>this page is "assessments/index.html.erb"</h4>

<div id="assessments">
<form action="assessment_form.asp" method="get">  <!-- _form.asp is where to send the form data -->
  <div class="mac-os">
  <h5>1. Which operating system do you have?</h5>
    <select name="os-version">
        <option value="10.5">10.5</option>
        <option value="10.6">10.6</option>
        <option value="10.7">10.7</option>
        <option value="10.8">10.8</option>
        <option value="10.9">10.9</option>
        <option value="10.10">10.10</option>
    </select>
  </div><br><br>

  <div class="mac-off">
  <h5>2. When was the last time your computer was powered off?</h5>
    <select name="shut-off">
        <option value="24">Within the past 24 hours</option>
        <option value="10.6">Within the past week</option>
        <option value="10.7">Within the past month</option>
        <option value="10.8">Sometime this year</option>
        <option value="10.9">I'm not sure</option>
        <option value="10.9">I don't know how to turn off my computer</option>
    </select>
  </div><br><br>

  <div class="mac-password">
  <h5>3. Does your computer have a login password?</h5>
    <select name="password">
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <option value="not sure">I'm Not Sure</option>
        <option value="unknown">I don't know what a login password is</option>
    </select>
  </div><br><br>

  <div class="mac-cookies">
  <h5>4. When was the last time you cleared your cookies?</h5>
    <select name="cookies">
      <option value="1">Within the past 24 hours</option>
      <option value="7">Within the past week</option>
      <option value="30">Within the past month</option>
      <option value="365">Sometime this year</option>
      <option value="500">I'm Not Sure</option>
      <option value="1000">I don't know what a cookie is</option>
    </select>
  </div><br><br>

  <div class="mac-backups">
  <h5>5. When was the last time you backed up the data on your computer?</h5>
    <select name="backups">
      <option value="1">Within the past 24 hours</option>
      <option value="7">Within the past week</option>
      <option value="30">Within the past month</option>
      <option value="365">Sometime this year</option>
      <option value="500">I'm Not Sure</option>
      <option value="1000">I don't know how to back up my data</option>
    </select>
  </div><br><br>

  <div class="mac-wifi">
  <h5>6. Do you always use a wifi network that's password-protected?</h5>
    <select name="wifi">
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="not sure">I'm Not Sure</option>
      <option value="not sure">I Use Dial-Up or an Ethernet Cord</option>
      <option value="unknown">I don't know what wifi is</option>
    </select>
  </div><br><br><br><br>

  <input type="submit" value="Submit">
</form><br>

</div>
