<!-- <h4>this page is views/computers/index.html.erb</h4>
<h4>after user input the page incorrectly redirect to views/computers/create.html.erb</h4> -->

<h1>Computers</h1>
<%=link_to "new computer", new_computer_path %>
<ul>
    <% @computers.each do |computer| %>
      <li>
          <%= link_to computer.name %>
          |
          <%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
</ul>
