<div class = "comp-list">
<h4>My Computers</h4>

<ul>
    <% @computers.each do |computer| %>
      <li>
          <%= link_to computer.name %>
          |
          <%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_computer_path(computer.id) %>
      </li>
    <% end %>
</ul>
<br>
<h4><%=link_to "Add a Computer", new_computer_path %></h4>
</div>
