<h2>Computers Show Page</h2>

<% @computers.each do |comment| %>
  <!-- <div> -->
    <strong><%= computer.name %></strong>
    <%= link_to "New Computer", new_computer_path %>
    <p><%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
