<div id="masthead">
<!--   <p> TechAssess is an open source project that was built for the individual computer user.</p> -->
  <p>Similar to a flower that needs water and sunlight to thrive, computers need maintenance to operate properly. In many cases a catastrophic event could also be avoided (such as data loss, mechanical failure or identity theft) with a few slight changes to how a computer is maintained.</p>
  <p>A risk level score will be provided after answering a short survey about your maintenance habits. There are educational articles available throughout the assessment to explain any unfamiliar vocabulary. Please also be advised that any information obtained through this site is provided for informational purposes only and is not intended to be a substitute for obtaining advice from a certified computer professional.</p>
</div>
<div id="button1">
<div id="start-button"><a href="/accounts/sign_up">Let's Get Started!</a></h2>
</div><br><br>
