<div id="masthead">
  <p> Tech Assess is an open source project that was built with the individual computer user in mind. A computer is a machine. Just like a car, it needs routine maintenance so that it can continue to run smoothly.</p>
  <!-- <br> -->
  <p>For computers, there is an additional benefit to performing routine maintenance. In many cases personal information could be better protected if individual computer users performed a few simple steps every once in a while.</p>
</div>
<div id="button1">
<div id="start-button"><a href="/accounts/sign_up">Let's Get Started!</a></h2>
</div>
