<div id="masthead">
  <p>Tech Assess is an open source project that was built to help people learn about computers and the importance of maintaining them. Similar to cars, computers need specialized care or they might break down at inopportune times. </p>
  <p>Computers have mechanical components to maintain, but unlike cars they store important personal data that we need every day. Since computers are complex machines, failure to properly take care of them can result in security vulnerabilities or the loss of information (such as documents, contact records and family photos) that can't be recovered.</p>
  <p>Please be advised that any information obtained through this site is provided for informational purposes only and is not intended to be a substitute for computer repair services or obtaining advice from a certified computer professional. </p>
</div>
<div id="button1">
<div id="start-button"><a href="/accounts/sign_up">Let's Get Started!</a></h2>
</div><br><br>
