/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
 	margin: 0px;
 	padding: 0px;
 	font-family: arial, helvetica, sans-serif;
}
 a:link {color:#666; text-decoration:none;}
 a:visited {color:#666; text-decoration:none;}
 a:hover {color: #0098f0; text-decoration:none;}
 a:active {color:#666; text-decoration:none;}
h3 {
  font-size: 2em;
}
 p {
  border: 1px solid red;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
 }
 #site-links, #masthead {
	text-align: center;
	padding: 0;
	width:  990px;
	min-width: 990px;
}
#site-links {
  margin-top: 5px;
}
#site-links li {
	display: inline-block;
	margin: 25px 0 20px 20px;
}
