@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

* {
  box-sizing: border-box;
}
body {
 	font-family: "Droid Sans", sans-serif;
}
 a:link {color:#666; text-decoration:none;}
 a:visited {color:#666; text-decoration:none;}
 a:hover {color: #3297FD; text-decoration:none;}
 a:active {color:#666; text-decoration:none;}

h3 {
  /*border: 1px solid green;*/
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  max-width: 960px;
  width: 350px;
  margin-top: 3%;
}
h4 {
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}
.field, .actions {
  /*border: 1px solid green;*/
  font-size: .9em;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
}
#auth-form, #new-login, #forgot-pw {
  border: 1px solid #cbcbcb;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
#all-links {
  /*border: 1px solid pink;*/
  font-size: .9em;
}
p {
  /*border: 1px solid red;*/
  margin: 0 auto;
  max-width: 960px;
  width: 45%;
  text-align: center;
  margin-top: 15px;
}
#nav {
  /*border: 1px solid orange;*/
  text-align: center;
  min-width: 360px;
  margin-right: 4%;
}
#nav li {
  /*border: 1px solid green;*/
  list-style: none;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 2%;
}
#nav a {
  color: gray;
  font-size: .9em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  margin: 0;
  padding: 9px 10px;
  text-decoration: none;
}
#nav a:hover {
  /*background-color: #2D89E5;*/
  color: #0098f0;
}
#button1 {
  /*border: 1px solid orange;*/
  max-width: 960px;
  width: 225px;
  margin: 0 auto;
}
#start-button {
  text-align: center;
  margin-top: 20%;
  cursor: pointer;
  padding: 12px 38px 12px 43px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  width: 225px;
  height: 45px;
  border: 1px solid #cbcbcb;
  background-color: #f0f0f0;
  border-radius: 3px;
  background-image:-webkit-linear-gradient(#fff, #f0f0f0);
}

/*#comp-add {
  length: 200px;
  width: 200px;
  margin: 0 auto;
}*/

#error_explanation {  /*all error_explanations are to style error messages in devise.en.yml*/
  width: 298px;
  border: 7px solid #c00;
  /*padding: 2px;*/
  /*padding-bottom: 2px;*/
  /*margin-bottom: 20px;*/
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  /*padding: 5px;*/
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
