@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

* {
  box-sizing: border-box;
}

body {
 	font-family: "Droid Sans", sans-serif, helvetica, arial;
  background-color: #616367;
  /*background-image: image-url("gray.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}

a:link {color: #666; text-decoration:none;}
a:visited {color: #666; text-decoration:none;}
a:hover {color: #3297FD; text-decoration:none;}
a:active {color: #3297FD; text-decoration:none;}

#comp-li li {
  list-style: none;
  margin-right: 40px;
}

#assess-li li {
  list-style: none;
}

hr {
border: 0;
height: 1px;
background: #333;
background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h2 {
  text-align: center;
  color: white;
}

h3 {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  max-width: 960px;
  width: 350px;
  margin-top: 3%;
  color: white;
}

h4 {
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
  color: white;
}

h5 {
  text-align: center;
  font-size: .8em;
}

hr {
border: 0;
height: 1px;
background: #333;
background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#assess-li li {
  list-style: none;
  border: 1px solid black;
  color: black;
}

#assessments {
  margin: 0 auto;
  text-align: center;
  background-color: #efefef;
  width: 500px;
  height: 100%;
}

#auth-form, #new-login, #forgot-pw {
  border: 1px solid #cbcbcb;
  margin: 0 auto;
  width: 300px;
  height: 350px;
  background-color: #efefef;
  text-align: center;
}

#all-links {
  font-size: .9em;
  color: white;
}

#all-links a {
  color: white;
}

#all-links a:hover {
  color: #3297FD;
}

#all-links h4 {
  color: white;
}

#assess-items li {
  text-align: center;
  border-radius: 3px;
  margin-left: 33%;
  background-color: #efefef;
  width: 30%;
  height: 35%;
  padding: 10px 10px 10px 10px;
}

#btns-main {
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 10px;
  font-size: 16px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-weight: bold;
  width: 225px;
  height: 45px;
  border: 1px solid #cbcbcb;
  background-color: #f0f0f0;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(#fff, #f0f0f0);
  background-image: -moz-linear-gradient(#fff, #f0f0f0);
  background-image: linear-gradient(#fff, #f0f0f0);
}

#button1 {
  max-width: 960px;
  width: 225px;
  margin: 0 auto;
}

#comp-li li {
  list-style: none;
  margin-right: 40px; /* inheriting left-margin from list items for signin error */
}

#create-items{
  color: white;
}

#error_explanation { /*all error_explanations are to style error messages in devise.en.yml*/
  width: 298px;
  border: 7px solid #c00;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#masthead {
  border-radius: 3px;
  margin: 0 auto;
  max-width: 960px;
  width: 350px;
  text-align: center;
  margin-top: 15px;
  text-align: justify;
  font-size: .8em;
  background-color: #efefef;
  padding: 15px 20px 15px 20px;
}

#nav {
  text-align: center;
  margin-right: 4%;
}

#nav a {
  color: white;
  font-size: .9em;
  font-weight: bold;
  margin: 0;
  padding: 9px 10px;
  text-decoration: none;
}

#nav a:hover {
  color: #0098f0;
}

#nav li {
  list-style: none;
  display: inline-block;
  font-size: 1em;
}

#new-assessment {
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
  color: #666;
  height: 100%;
  width: 85%;;
  background-color: #efefef;
  padding: 5px 5px 5px 5px;
}

#start-button {
  text-align: center;
  margin-top: 20%;
  cursor: pointer;
  padding: 12px 38px 12px 43px;
  font-size: 16px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  width: 225px;
  height: 45px;
  border: 1px solid #cbcbcb;
  background-color: #f0f0f0;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(#fff, #f0f0f0);
  background-image: -moz-linear-gradient(#fff, #f0f0f0);
  background-image: linear-gradient(#fff, #f0f0f0);
}

.comp-list, .comp-form {
  padding: 2px;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 60%;
  background-color: #efefef;
}

.field, .actions {
  font-size: .9em;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
  color: #666;
}

.notice, .alert {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 850px){
  #assess-li li {
    width: 35%;
    margin: 0 auto;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 700px){

  #assess-li li {
    width: 45%;
    margin: 0 auto;
    margin-left: 24%;
  }

  #nav {
    width: 93%;
    margin-right: 0;
  }

  .comp-list {
    width: 85%;
  }
}

@media only screen and (max-width: 450px){

  body {
    font-size: 90%;
  }

  h2 {
    font-size: 18px;
  }

  li {
    margin-bottom: 3%;
  }

  #assess-li li {
    width: 65%;
    margin: 0 auto;
    margin-left: 11%;
  }

  #btns-main {
    width: 50%;
    height: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: .9em;
  }

  #masthead {
    width: 85%;
  }

  #start-button {
    font-size: 1em;
  }

  .comp-list {
    width: 85%;
    font-size: 80%;
  }
}
